


a:link {
    color: #b88600;
}


a:visited {
    color: #eeff44;
}


a:hover {
    color: #52ba48;
}


a:active {
    color: #483d8b;
}


#AnotherCookieBox{
    z-index:9999;
    background-color:red;
    width:100px;
    height:100px;
}

@media screen and (max-width: 719px) /*Mobile Version*/ {
    .flexHeader {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        
    }

    #pic0 {
       
        display:none;
    }

    #h1 {
        flex-basis: 50%;
      
        flex-grow: 0;
        
        
    }

    #h2 {
        flex-basis: 50%;
     
        flex-grow: 0;
        
    }



    #nav {
        flex-basis: 50%;
        background-color: #008080;
        flex-grow: 0;
        position: absolute;
        right: 1em;
        top: 1em;
    }

    #pic1 {
        width: 20%;
        height: 20%;
        float: left;
        margin-left: 40%;
        clear: both;
    }
    #video {
        flex-basis: 100%;
        
        display:none;
    }

    #pic2 {
        width: 20%;
        height: 20%;
        float: left;
        margin-left: 40%;
        clear: both;
    }

    #pic3 {
        width: 20%;
        height: 20%;
        float: left;
        margin-left: 40%;
        clear: both;
    }


    #CookieStatementBox {
        height: 100px;
        width: 100px;
        background-color: #FA0;
        color: #FFF;
        opacity: 50%;
        position: fixed;
        bottom: 1em;
        right: 1em;
    }

    #footer {
        flex-basis: 80%;
        flex-shrink: 0;
        flex-grow: 0;
        clear: both;
        border-color: #22a07a;
        border-style: double;
        border-width: 10px;
    }
}

@media screen and (min-width: 930px) { /*Pc Version*/
    #pic0 {
        width: 10%;
        height: 10%;
    }

    #pic1 {
        width: 20%;
        height: 20%;
        float: right;
    }

    #pic2 {
        width: 20%;
        height: 20%;
        float: right;
    }

    #pic3 {
        width: 20%;
        height: 20%;
        float: right;
    }
    aside {
        position: fixed;
        left: 80%;
        bottom: 80%;
        top: 3%;
        right: 1%;
        width: 200px;
        height: 210px;
    }

    #nav {
        background-color: #008080;
    }

    #t1 {
        background-color: #008080;
        display: inline-block;
    }

    #t2 {
        display: inline-block;
        background-color: #008080;
    }

    #t3 {
        display: inline-block;
        background-color: #008080;
    }


    #CookieStatementBox {
        height: 100px;
        width: 100px;
        background-color: #FA0;
        color: #FFF;
        opacity: 50%;
        position: fixed;
        bottom: 1em;
        right: 1em;
    }


    .kpk {
        display: flex;
        flex-wrap: wrap;
    }

    #article1 {
        flex-basis: 80%;
        flex-shrink: 0;
        flex-grow: 0;
        line-height:20px;
    }

    #article2 {
        flex-basis: 80%;
        flex-shrink: 0;
        flex-grow: 0;
        line-height: 20px;
    }

    #article3 {
        flex-basis: 80%;
        flex-shrink: 0;
        flex-grow: 0;
        line-height: 20px;
    }

    #footer {
        flex-basis: 80%;
        flex-shrink: 0;
        flex-grow: 0;
        border-color: #22a07a;
        border-style: double;
        border-width: 10px;
    }

}

  

@media screen and (min-width: 720px) and (max-width: 929px) { /*Tablet Version*/
    #pic0 {
        width: 10%;
        height: 10%;
    }

    #pic1 {
        width: 20%;
        height: 20%;
        float: left;
    }

    #pic2 {
        width: 20%;
        height: 20%;
        float: left;
    }

    #pic3 {
        width: 20%;
        height: 20%;
        float: left;
    }
    #nav {
        background-color: #008080;
    }

    #t1 {
        background-color: #008080;
        display: inline-block;
    }

    #t2 {
        display: inline-block;
        background-color: #008080;
    }

    #t3 {
        display: inline-block;
        background-color: #008080;
    }

    .kpk {
        display: flex;
        flex-wrap: wrap;
    }

    #article1 {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        order: 2;
    }

    #article2 {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        order: 3;
    }

    #article3 {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        order: 4;
    }

    #footer {
        flex-basis: 80%;
        flex-shrink: 0;
        flex-grow: 0;
        order: 5;
        border-color: #22a07a;
        border-style: double;
        border-width: 10px;
    }

    #video{
        flex-basis:100%;
        order:1;
    }

    #aside1 {
       

        flex-basis: 100%;
        order: 0;
    }

    #box {
        position: fixed;
        top: 70%;
        bottom: 10%;
        left: 70%;
        flex-basis: 20%;
        flex-shrink: 0;
        flex-grow: 1;
    }


    #CookieStatementBox {
        height: 100px;
        width: 100px;
        background-color: #FA0;
        color: #FFF;
        opacity: 50%;
        position: fixed;
        bottom: 1em;
        right: 1em;
    }

}





